$main-background-color: white;
$main-color: #f4ac45;
$second-main-color: rgb(10, 46, 1);

$third-main-color: rgb(110, 103, 102);
$fourth-main-color: rgb(201, 48, 25);
$footer-main-color: rgb(110, 103, 102);
$hamburger-color: #9999a1;

$nav-background-color: #66666e;
$nav-main-text-color: #9999a1;
$nav-active-text-color: #f4ac45;

$main-padding: 1rem;
